@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bright-blue: hsl(220, 98%, 61%);
    --Check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    --very-light-Gray: hsl(0, 0%, 98%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --light-grayish-blue: hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --very-dark-grayish-blue: hsl(235, 19%, 35%);
    --very-dark-blue: hsl(235, 21%, 11%);
    --very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --light-grayish-blue-dark: hsl(234, 39%, 85%);
    --light-grayish-blue-hover : hsl(236, 33%, 92%);
    --dark-grayish-blue-dark: hsl(234, 11%, 52%);
    --very-dark-grayish-blue: hsl(233, 14%, 35%);
    --Very-dark-grayish-blue: hsl(237, 14%, 26%);
}
body{
    position: relative;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--very-dark-blue);
    min-height: 100vh;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-image: url(../images/bg-desktop-dark.jpg);
}
.banner-todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
.banner-todo-title{
    color: var(--very-light-Gray);
    letter-spacing: 0.7rem;
}
.banner-todo-theme img{
    cursor: pointer;
}
.banner-create-todo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 55px;
    margin-top: 2rem;
    background-color: var(--very-dark-desaturated-blue);
    border-radius: 5px;
}
#todo-add{
    width: 10%;
    height: 35%;
    cursor: pointer;
}
#todo-label{
    width: 88%;
    height: 90%;
    border: none;
    color:var(--very-light-grayish-blue);
    background-color: var(--very-dark-desaturated-blue);
}
#todo-label:focus{
    outline: none;
}
.todo-list{
    position: relative;
    top: -40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 55px;
    margin: 0px auto;
    background-color: var(--very-dark-desaturated-blue);
    border-top-left-radius: none;
    border-top-right-radius: none;
    border-bottom: 1px solid var(--dark-grayish-blue-dark);
}
.todo-list-label{
    display: flex;
    align-items: center;
    width: 88%;
    height: 90%;
    border: none;
    color:var(--very-light-grayish-blue);
    background-color: var(--very-dark-desaturated-blue);
}
.todo-list-details{
    position: relative;
    top: -40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    color: var(--dark-grayish-blue);
    width: 40%;
    height: 55px;
    padding: 0rem 1rem 0rem 1rem;
    margin: 0px auto;
    background-color: var(--very-dark-desaturated-blue);
    border-radius: 5px;
}
.todo-list-details a{
    color: var(--dark-grayish-blue);
    padding: 0px 4px 0px 4px;
    text-decoration: none;
}
footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 1.5rem 0rem 1.5rem 0rem;
}
.attribution{ 
    font-size: 11px; text-align: center; 
    color: var(--light-grayish-blue-dark);
}
.attribution a{ 
    color: var(--light-grayish-blue-dark); 
}

/*mobile design*/

@media screen and (max-width : 375px) {
    .banner{
        height: 200px;
    }
    .banner-todo{
        width: 90%;
    }
    .banner-create-todo{
        width: 90%;
        height: 55px;
    }
    .todo-list{
        top: -20px;
        width: 90%;
    }
    .todo-list-details{
        top: -20px;
        width: 90%;
        display: flex;
        align-items: center;
    }
    .todo-list-details-links{
        width: 50%;
    }
    .link-remove{
        text-align: right;
    }
    .todo-list-details-links-state{
        position: absolute;
        top: 70px;
        right: 0px;
        width: 100%;
        height: 55px;
        font-size: 16px;
        background-color: var(--very-dark-desaturated-blue);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .todo-list-details-links-state a{
        margin: 0rem 0.15rem 0rem 0.15rem;
    }
}